name: .NET Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet-version: [ '10.0.x' ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Restore dependencies
        working-directory: ClassLibraryProjects
        run: dotnet restore

      - name: Build solution
        working-directory: ClassLibraryProjects
        run: dotnet build --no-restore --configuration Release

      - name: Run tests
        working-directory: ClassLibraryProjects
        run: dotnet test --no-build --verbosity normal
