# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
# I am making changes for testing
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0'
    - name: Install dependencies
      run: dotnet restore ClassLibraryProjects/ClassLibraryProjects.sln
    - name: Build
      run: dotnet build ClassLibraryProjects/ClassLibraryProjects.sln
    - name: Test with the dotnet CLI
      run: dotnet test ClassLibraryProjects/ClassLibraryProjects.sln

#test
